hostname {{ device.name }}
!
{% for iface in device.interfaces.all() %}
interface {{ iface.name }}
 description {{ iface.description | default('Configured by NetBox') }}
 {% if iface.ip_addresses.all() %}
 {% for ip in iface.ip_addresses.all() %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
 {% endfor %}
 {% endif %}
!
{% endfor %}
!
router bgp {{ config_context.bgp.as_number }}
{% for neighbor in config_context.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} description {{ neighbor.description }}
{% endfor %}
