hostname {{ device.name }}
!
ip domain name example.com
ipv6 unicast-routing
!
username adam privilege 15 secret 9 $9$mIaRVsm1z68E/k$OZzv/Mu4G/Hq6WKwhCEbDQzr9NvMQXrsG8YOIEK/JBU
!
{# Loop through interfaces #}
{% for iface in interfaces %}
interface {{ iface.name }}
 {% if iface.description %}description {{ iface.description }}{% endif %}
 {% if '.' in iface.name %}
 encapsulation dot1Q {{ iface.name.split('.')[-1] }}
 {% endif %}
 {% for ip in iface.ip_addresses %}
  {# Only render if there is actually an address object #}
  {% if ip.address %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
  {% endif %}
 {% endfor %}
 no shutdown
!
{% endfor %}

{# DMVPN Tunnel Logic #}
{% for iface in interfaces if iface.name == 'Tunnel0' %}
interface Tunnel0
 {% if iface.ip_addresses and iface.ip_addresses[0].address %}
 ip address {{ iface.ip_addresses[0].address.ip }} 255.255.255.0
 {% endif %}
 tunnel source GigabitEthernet1.100
 tunnel mode gre multipoint
 tunnel protection ipsec profile DMVPN_PROFILE
!
{% endfor %}

{# OSPF Logic #}
{% for iface in interfaces if iface.name == 'Loopback0' %}
router ospf 100
 {% if iface.ip_addresses and iface.ip_addresses[0].address %}
 router-id {{ iface.ip_addresses[0].address.ip }}
 {% endif %}
 network 150.1.0.0 0.0.255.255 area 0
 network 155.1.0.0 0.0.255.255 area 0
!
{% endfor %}

{# BGP Logic #}
{% set context = config_context[0] if config_context is iterable and config_context is not mapping else config_context %}
{% if context and context.bgp and context.bgp.as_number %}
router bgp {{ context.bgp.as_number }}
 bgp log-neighbor-changes
 {% if context.bgp.neighbors %}
  {% for neighbor in context.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} update-source Loopback0
  {% endfor %}
 {% endif %}
!
{% endif %}
