hostname {{ device.name }}
!
ip domain name example.com
ipv6 unicast-routing
!
username adam privilege 15 secret 9 $9$mIaRVsm1z68E/k$OZzv/Mu4G/Hq6WKwhCEbDQzr9NvMQXrsG8YOIEK/JBU
!
{# Loop through interfaces for basic L3 config #}
{% for iface in interfaces %}
interface {{ iface.name }}
 {% if iface.description %}description {{ iface.description }}{% endif %}
 {% if '.' in iface.name %}
 encapsulation dot1Q {{ iface.name.split('.')[-1] }}
 {% endif %}
 {% for ip in iface.ip_addresses %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
 {% endfor %}
 no shutdown
!
{% endfor %}

{# DMVPN Tunnel Logic #}
{% set tunnel_list = interfaces | selectattr('name', 'equalto', 'Tunnel0') | list %}
{% if tunnel_list | length > 0 and tunnel_list[0].ip_addresses %}
interface Tunnel0
 ip address {{ tunnel_list[0].ip_addresses[0].address.ip }} 255.255.255.0
 tunnel source GigabitEthernet1.100
 tunnel mode gre multipoint
 tunnel protection ipsec profile DMVPN_PROFILE
!
{% endif %}

{# OSPF Logic #}
{% set lo0_list = interfaces | selectattr('name', 'equalto', 'Loopback0') | list %}
{% if lo0_list | length > 0 and lo0_list[0].ip_addresses %}
router ospf 100
 router-id {{ lo0_list[0].ip_addresses[0].address.ip }}
 network 150.1.0.0 0.0.255.255 area 0
 network 155.1.0.0 0.0.255.255 area 0
!
{% endif %}

{# BGP Logic #}
{% set context = config_context[0] if config_context is iterable and config_context is not mapping else config_context %}
{% if context and context.bgp %}
router bgp {{ context.bgp.as_number }}
 bgp log-neighbor-changes
 {% if context.bgp.neighbors %}
 {% for neighbor in context.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} update-source Loopback0
 {% endfor %}
 {% endif %}
!
{% endif %}
