hostname {{ device.name }}
!
ip domain name example.com
ipv6 unicast-routing
!
username adam privilege 15 secret 9 $9$mIaRVsm1z68E/k$OZzv/Mu4G/Hq6WKwhCEbDQzr9NvMQXrsG8YOIEK/JBU
!
{# Loop through interfaces via the device object #}
{% for iface in device.interfaces.all() %}
interface {{ iface.name }}
 {% if iface.description %}description {{ iface.description }}{% endif %}
 {% for ip in iface.ip_addresses.all() %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
 {% endfor %}
 no shutdown
!
{% endfor %}

{# OSPF Logic #}
{% for iface in device.interfaces.all() if iface.name == 'lo0' %}
router ospf 100
 {% for ip in iface.ip_addresses.all() %}
 router-id {{ ip.address.ip }}
 {% endfor %}
 network 150.1.0.0 0.0.255.255 area 0
 network 155.1.0.0 0.0.255.255 area 0
!
{% endfor %}

{# BGP Logic - Looking at device.get_config_context() #}
{% set full_context = device.get_config_context() %}
{% if full_context and full_context.bgp %}
router bgp {{ full_context.bgp.as_number }}
 bgp log-neighbor-changes
 {% for neighbor in full_context.bgp.neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
 neighbor {{ neighbor.ip }} update-source lo0
 {% endfor %}
!
{% endif %}
