{% set full_context = device.get_config_context() %}

{% set lo0 = device.interfaces.get(name='Loopback0') %}
{% set lo_ip = none %}
{% if lo0 %}
  {% for ip in lo0.ip_addresses.all() %}
    {% if ip.address.version == 4 %}
      {% set lo_ip = ip %}
    {% endif %}
  {% endfor %}
{% endif %}

<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    <hostname>{{ device.name }}</hostname>

    <ip>
      <domain>
        <name>example.com</name>
      </domain>
    </ip>

    <ipv6>
      <unicast-routing/>
    </ipv6>

    <interface>
      {% for iface in device.interfaces.all() %}

      {% if iface.name == 'Loopback0' %}
      <Loopback>
        <name>0</name>
        {% for ip in iface.ip_addresses.all() %}
        {% if ip.address.version == 4 %}
        <ip>
          <address>
            <primary>
              <address>{{ ip.address.ip }}</address>
              <mask>{{ ip.address.netmask }}</mask>
            </primary>
          </address>
        </ip>
        {% endif %}
        {% endfor %}
      </Loopback>
      {% endif %}

      {% if iface.name.startswith('GigabitEthernet') and '.' not in iface.name %}
      <GigabitEthernet>
        <name>{{ iface.name.replace('GigabitEthernet','') }}</name>

        {% if iface.description %}
        <description>{{ iface.description }}</description>
        {% endif %}

        {% for ip in iface.ip_addresses.all() %}
        {% if ip.address.version == 4 %}
        <ip>
          <address>
            <primary>
              <address>{{ ip.address.ip }}</address>
              <mask>{{ ip.address.netmask }}</mask>
            </primary>
          </address>
        </ip>
        {% endif %}
        {% endfor %}
      </GigabitEthernet>
      {% endif %}

      {% endfor %}
    </interface>

    {% if full_context.ospf is defined or full_context.bgp is defined %}
    <router>

      {% if full_context.ospf is defined %}
      <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <ospf-instance>
          <id>
            <process-id>{{ full_context.ospf.process_id }}</process-id>
            {% if lo_ip %}
            <router-id>{{ lo_ip.address.ip }}</router-id>
            {% endif %}
          </id>

          {% for net in full_context.ospf.networks %}
          <network>
            <ip>{{ net.network }}</ip>
            <wildcard>{{ net.wildcard }}</wildcard>
            <area>{{ net.area }}</area>
          </network>
          {% endfor %}
        </ospf-instance>
      </ospf>
      {% endif %}

      {% if full_context.bgp is defined %}
      <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
        <id>{{ full_context.bgp.as_number }}</id>
        {% for n in full_context.bgp.neighbors %}
        <neighbor>
          <id>{{ n.ip }}</id>
          <remote-as>{{ n.remote_as }}</remote-as>
          <update-source>Loopback0</update-source>
        </neighbor>
        {% endfor %}
      </bgp>
      {% endif %}

    </router>
    {% endif %}

  </native>
</config>

