hostname {{ device.name }} 
!
{% set full_context = device.get_config_context() %}

{# Loop through interfaces #}
{% for iface in device.interfaces.all() %}
interface {{ iface.name }}

 {# 1. Dynamic Description Logic #}
 {% set peer = iface.connected_endpoints[0] if iface.connected_endpoints else none %}
 {% if iface.parent %}
  {% if peer and peer.interface %}
 description {{ peer.interface.device.name }}-{{ peer.interface.name }}-{{ peer.virtual_circuit.cid if peer.virtual_circuit else 'P2P' }}
  {% elif iface.description %}
 description {{ iface.description }}
  {% endif %}
  {% if iface.tagged_vlans.all() %}
 encapsulation dot1Q {{ iface.tagged_vlans.all()[0].vid }}
  {% endif %}
 {% else %}
  {% if iface.description %}
 description {{ iface.description }}
  {% endif %}
 {% endif %}

 {# 2. IP Address & VRF Logic #}
 {% if iface.vrf %}
 vrf forwarding {{ iface.vrf.name }}
 description {{ iface.tags[0].name }}
 {% endif %}

 {% if iface.ip_addresses.all() %}
  {% for ip in iface.ip_addresses.all() %}
   {% if ip.family == 4 %}
 ip address {{ ip.address.ip }} {{ ip.address.netmask }}
   {% elif ip.family == 6 %}
 ipv6 address {{ ip.address }}
   {% endif %}
  {% endfor %}

  {# Apply OSPF/MPLS ONLY if there is NO VRF and it's not a Loopback #}
  {% if not iface.vrf and "Loopback" not in iface.name %}
 ip ospf network point-to-point
 ip ospf hello-interval 5
   {% if full_context.ospf is defined %}
 ip ospf {{ full_context.ospf.process_id }} area 0
   {% endif %}
 mpls ip
  {% endif %}
 {% endif %}

 no shutdown
!
{% endfor %}

{# OSPF Logic #}
{% if full_context.ospf is defined %}
router ospf {{ full_context.ospf.process_id }}
 {% for iface in device.interfaces.all() if iface.name == 'Loopback0' %}
 {% for ip in iface.ip_addresses.all() %}
 router-id {{ ip.address.ip }}
 {% endfor %}
 {% endfor %}
 {% for net in full_context.ospf.networks %}
 network {{ net.network }} {{ net.wildcard }} area {{ net.area }}
 {% endfor %}
!
{% endif %}

{# BGP Logic #}
{% if full_context.bgp is defined %}
router bgp {{ full_context.bgp.as_number }}
 bgp log-neighbor-changes
 {% for n in full_context.bgp.neighbors %}
 neighbor {{ n.ip }} remote-as {{ n.remote_as }}
 neighbor {{ n.ip }} update-source Loopback0
  {% if n.rr_client %}
 neighbor {{ n.ip }} route-reflector-client
  {% endif %}
 {% endfor %}
!
{% endif %}
